:root {
  /* 컬러 */
  --font_color: #282828;
  --mainC_R: #e4523f;
  --mainC_Y: #f5a923;
  --mainC_P: #775ea0;

  /* 여백 */
  --gnb_W: 16%;

  /* 폰트사이즈 60 40 36 30 24 21 18 14*/
  --title_sizeBig: 6rem;
  --title_size: 4rem;
  --fontsize_L: 3.6rem;
  --fontsize_Lm: 3rem;
  --fontsize_M: 2.4rem;
  --fontsize_Ms: 2.1rem;
  --fontsize_S:1.8rem;
  --fonsize_Ss:  1.4rem;
}
